/* VARIABLES */
/* TYPOGRAPHY */
@font-face { font-family: "Philosopher-Regular"; src: url('../fonts/Philosopher-R.ttf?1597291834') format('truetype'), url('../fonts/Philosopher-R.woff?1597291834') format('woff'), url('../fonts/Philosopher-R.eot?1597291834') format('embedded-opentype'), url('../fonts/Philosopher-R.svg?1597291834') format('svg'); }
@font-face { font-family: "Philosopher-Bold"; src: url('../fonts/Philosopher-B.ttf?1597291834') format('truetype'), url('../fonts/Philosopher-B.woff?1597291834') format('woff'), url('../fonts/Philosopher-B.eot?1597291834') format('embedded-opentype'), url('../fonts/Philosopher-B.svg?1597291834') format('svg'); }
@font-face { font-family: "Ubuntu-Regular"; src: url('../fonts/Ubuntu-R.ttf?1597291834') format('truetype'), url('../fonts/Ubuntu-R.woff?1597291834') format('woff'), url('../fonts/Ubuntu-R.eot?1597291834') format('embedded-opentype'), url('../fonts/Ubuntu-R.svg?1597291834') format('svg'); }
@font-face { font-family: "Ubuntu-Light"; src: url('../fonts/Ubuntu-L.ttf?1597291834') format('truetype'), url('../fonts/Ubuntu-L.woff?1597291834') format('woff'), url('../fonts/Ubuntu-L.eot?1597291834') format('embedded-opentype'), url('../fonts/Ubuntu-L.svg?1597291834') format('svg'); }
@font-face { font-family: "Ubuntu-Bold"; src: url('../fonts/Ubuntu-B.ttf?1597291834') format('truetype'), url('../fonts/Ubuntu-B.woff?1597291834') format('woff'), url('../fonts/Ubuntu-B.eot?1597291834') format('embedded-opentype'), url('../fonts/Ubuntu-B.svg?1597291834') format('svg'); }
@font-face { font-family: "Pyidaungsu-Regular"; src: url('../fonts/Pyidaungsu-1.8_Regular.ttf?1597291834') format('truetype'), url('../fonts/Pyidaungsu-1.8_Regular.woff?1597291834') format('woff'), url('../fonts/Pyidaungsu-1.8_Regular.eot?1597291834') format('embedded-opentype'), url('../fonts/Pyidaungsu-1.8_Regular.svg?1597291834') format('svg'); }
@font-face { font-family: "Pyidaungsu-Bold"; src: url('../fonts/Pyidaungsu-1.8_Bold.ttf?1597291834') format('truetype'), url('../fonts/Pyidaungsu-1.8_Bold.woff?1597291834') format('woff'), url('../fonts/Pyidaungsu-1.8_Bold.eot?1597291834') format('embedded-opentype'), url('../fonts/Pyidaungsu-1.8_Bold.svg?1597291834') format('svg'); }
h1, h2 { font-family: NeurialGrotesk-Medium, "Pyidaungsu-Bold", "Arial", sans-serif; font-size: 48px; line-height: 56px; margin-bottom: 30px; color: #fff; }

/* CUSTOM STARTS HERE
--------------------------------------------------*/
@media only screen and (max-width: 1169px) { #block-quicktabsoffer .quicktabs-main .field--name-body, #block-quicktabsoffer .quicktabs-main .field--name-field-basic-summary { flex: 100%; }
  .quicktabs-main .field--name-field-basic-summary h2 { margin-bottom: 0; }
  .body-blog .wrap-blog { width: 40rem; padding: 2rem; }
  .body-blog .wrap-blog h2 { font-size: 2.5rem; width: 75%; margin: 0 auto; }
  .body-blog .wrap-blog p { font-size: 1.4rem; }
  .blog-style { margin: 0 auto; }
  .blog-logo { width: 4rem; height: 4rem; margin: 0 auto 0.5rem; }
  .view-image-quote img { object-fit: cover; } }
@media only screen and (max-width: 1169px) and (min-width: 1024px) { .role-quicktabs { flex: 0 0 65rem; } }
@media only screen and (min-width: 1025px) { #header { display: flex !important; display: -webkit-flex !important; display: -ms-flexbox !important; justify-content: space-around; }
  .navbar-expand-lg .navbar-toggler { display: none !important; }
  .navbar-expand-lg .navbar-nav { flex-direction: row !important; }
  .navbar-expand-lg .navbar-collapse { display: flex !important; flex-basis: auto; } }
@media only screen and (max-width: 1024px) { #header { position: relative; }
  #header .bg-secondary { justify-content: flex-end; margin: 2rem 4rem; }
  #header .bg-primary button { position: absolute; left: 0; top: -6.8rem; }
  #block-quicktabsoffer { min-height: inherit; }
  .collapse:not(.show) { display: none !important; }
  .collapse.show { display: block !important; overflow: hidden; }
  .navbar-expand-lg .navbar-collapse { flex-basis: 100% !important; }
  .navbar-expand-lg .navbar-nav { flex-direction: column !important; } }
@media only screen and (max-width: 1023px) { #block-quicktabsoffer .quicktabs-wrapper { padding: 2rem 1.5rem; }
  #block-quicktabsoffer .quicktabs-wrapper .item-list { position: unset; transform: none; }
  #block-quicktabsoffer .quicktabs-main .field--name-field-basic-summary h2 { font-size: 3rem; }
  .offer-quicktabs { display: none; }
  .offer-accordion { display: block; }
  .offer-accordion .ui-widget-content h2 { margin-bottom: 0; } }
@media only screen and (max-width: 1023px) and (min-width: 768px) { .image-front-page .views-field-body h1 { font-size: 3.5rem; }
  .image-front-page .views-field-body .field-content { width: inherit; }
  #block-quicktabsoffer .quicktabs-wrapper { padding: 2rem 1.5rem 0; }
  #block-quicktabsoffer .quicktabs-wrapper .item-list { margin-bottom: 4rem; }
  #block-quicktabsoffer .quicktabs-wrapper .list-group-item .qt h3 { margin-top: inherit; }
  #block-quicktabsoffer .quicktabs-wrapper .list-group-item .qt p { margin-bottom: inherit; margin-top: inherit; }
  #block-quicktabsoffer .quicktabs-wrapper .list-group-item.active { border-bottom: 2px solid #ffffff; }
  #block-quicktabsoffer .quicktabs-wrapper .list-group-item::before { content: unset; }
  .role-quicktabs { flex: 0 0 50%; } }
@media only screen and (min-width: 992px) { #header, .navbar-expand-lg .navbar-toggler { display: block; }
  .navbar-expand-lg { flex-wrap: wrap; } }
@media only screen and (max-width: 991px) { .navbar-dark .navbar-nav a.nav-link { font-size: 1.8rem; }
  .navbar-dark .navbar-nav a.nav-link::before { content: unset; }
  .navbar-dark.bg-primary ul.navbar-nav { border-top: 3px solid #F59300; }
  .navbar-dark.bg-secondary { display: -webkit-flex; display: -ms-flexbox; display: flex; flex-wrap: wrap; justify-content: center; margin-top: 2rem; } }
@media only screen and (max-width: 767px) { .role-wrapper { background-position-y: inherit; max-height: inherit; }
  .role-wrapper section.region-custom-block { display: block; padding: 0; }
  .role-wrapper section.region-custom-block img { width: auto; }
  .role-wrapper section.region-custom-block .field--name-body { text-align: center; }
  .role-quicktabs { flex: 100%; }
  .role-quicktabs ul { flex-direction: column; }
  .role-quicktabs .bs-region { border-top: inherit; }
  .role-quicktabs .item-list li.active a::after { margin-top: 0; content: unset; }
  .role-quicktabs .item-list li:not(:first-child) { margin-top: 2rem; }
  .role-quicktabs .item-list li:not(:last-child) { margin-right: 0; }
  .role-quicktabs .list-group-item.active { border-bottom: 3px solid #F59300; }
  .role-accordion { display: block; }
  .role-accordion .ui-accordion .ui-accordion-header { display: -webkit-flex; display: -ms-flexbox; display: flex; flex-wrap: wrap; min-height: 6.7rem; align-items: center; }
  .role-quicktabs { display: none; }
  #block-quicktabsoffer .quicktabs-wrapper .list-group { flex-direction: column; }
  #block-quicktabsoffer .quicktabs-wrapper .list-group-item { margin-bottom: 2rem; }
  #block-quicktabsoffer .quicktabs-wrapper .list-group-item.active { border-bottom: 2px solid #ffffff; }
  #block-quicktabsoffer .quicktabs-wrapper .list-group-item .qt--no { font-size: 5.5rem; }
  #block-quicktabsoffer .quicktabs-wrapper .list-group-item:not(:last-child) { margin-right: 0; }
  #block-quicktabsofferaccordion .qt h3 { font-size: 2rem; margin-bottom: 0; }
  #block-quicktabsofferaccordion .qt--no { font-size: 5.5rem; margin-top: 1.1rem; }
  #block-quicktabsofferaccordion .qt p { margin-bottom: 0; margin-top: -3px; }
  .featured-bottom .content > div { justify-content: center; flex-direction: column; }
  .contact-fontawesome::after { content: unset; }
  .contact-aus { margin-right: 0; }
  .contact-aus::after { content: ""; width: 1px; height: 18rem; background: #828282; display: block; position: absolute; bottom: 6.5rem; left: 50%; transform: rotate(90deg); }
  .contact-mm { margin-left: 0; }
  .site-footer .row { max-width: 32rem; }
  .image-front-page .views-field-body h1 { font-size: 3rem; line-height: 4rem; }
  .image-front-page .views-field-body p { font-size: 1.5rem; line-height: 2rem; }
  .image-front-page .views-field-body .field-content { width: inherit; }
  .image-front-page .views-field-field-basic-page-image img { object-fit: cover; height: 100%; }
  .image-front-page .views-field-field-basic-page-image .field-content { height: 40rem; } }
@media only screen and (max-width: 479px) and (min-width: 320px) { .view-image-quote .views-field-field-basic-page-image { display: none; }
  .view-image-quote .views-field-body { text-align: center; }
  .body-blog { position: unset; transform: unset; }
  .body-blog .wrap-blog { width: inherit; } }
