@font-face {
    font-family: 'Philosopher';
    src: url('Philosopher-Regular.eot');
    src: url('Philosopher-Regular.eot?#iefix') format('embedded-opentype'),
        url('Philosopher-Regular.woff2') format('woff2'),
        url('Philosopher-Regular.woff') format('woff'),
        url('Philosopher-Regular.ttf') format('truetype'),
        url('Philosopher-Regular.svg#Philosopher-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher';
    src: url('Philosopher-Regular_1.eot');
    src: url('Philosopher-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('Philosopher-Regular_1.woff2') format('woff2'),
        url('Philosopher-Regular_1.woff') format('woff'),
        url('Philosopher-Regular_1.ttf') format('truetype'),
        url('Philosopher-Regular_1.svg#Philosopher-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

