@import "custom-variables";

@media only screen and (max-width: 1024px) {
  #navbar-top {
    width: $one-column-width;
    margin: 0 2rem;
  }
  .collapse:not(.show) {
    display: none !important;
  }
  .navbar-expand-lg {
    @include flex-wrap;
    width: $one-column-width;
    .navbar-toggler {
      height: 7rem;
      width: 7rem;
      display: block;
      outline: none;
      position: fixed;
      right: 35px;
      top: 8.5rem;
      z-index: 2000;
      &.active {
        & ~ .navbar-background {
          @include scale(15);
        }
        .navbar-toggler-icon {
          background: transparent;
          &::before {
            top: 0;
            transform: rotate(-135deg);
          }
          &::after {
            top: 0;
            transform: rotate(135deg);
          }
        }
      }
    }
    .navbar-nav {
      @include flex-column;
      position: fixed;
      top: 13rem;
      right: 10rem;
      text-align: center;
      z-index: 2000;
      display: none;
    }
    .navbar-collapse {
      flex-basis: $one-column-width;
      &.show .navbar-nav {
        display: block;
        transition: all 0.3s;
      }
      ul li.nav-item a {
        &::before {
          border-bottom: 2px solid $color-white;
        }
        &.is-active {
          color: $color-white;
          &::before {
            border-bottom: 2px solid $color-white;
          }
        }
      }
    }
  }
  .navbar-toggler-icon {
    @include hg-btn;
    position: relative;
    &::after,
    &::before {
      @include hg-btn;
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.3s ease-out;
    }
    &::after {
      top: -6px;
    }
    &::before {
      top: 6px;
    }
  }
  .navbar-background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 9.2rem;
    right: 4rem;
    background: $secondary-color;
    transition: 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    z-index: 1000;
  }
}
